.MMM-MyWordOfTheDay {
  font-size: 20px;
  line-height: 25px;
  text-align: left;
}

.MMM-MyWordOfTheDay .word {
  color: #FFFFFF;
  font-size: 32px;
  line-height: 48px;
  position:  relative;
}

.MMM-MyWordOfTheDay .linguistics > span:not(:first-child):before {
  content:  " • ";
}

.MMM-MyWordOfTheDay .pronouciation,
.MMM-MyWordOfTheDay .hyphentation {
  color: #FFFFFF;
}

.MMM-MyWordOfTheDay .definition {
  margin-top: 12px;
}

.MMM-MyWordOfTheDay .definition .part-of-speech {
  font-weight: bold;
  display: block;
}

.MMM-MyWordOfTheDay .definition .definition-text {
  display: block;
}

.MMM-MyWordOfTheDay .definition .example {
  font-style: italic;
  font-size: 18px;
  display: block;
  margin-left:  18px;
}

.MMM-MyWordOfTheDay .note {
  margin-top: 18px;
  border-top: solid 1px #222222;
  padding-top: 12px;
  font-size: 17px;
  line-height: 20px;
}

.MMM-MyWordOfTheDay .scrabble-score {
  font-size:  24px;
  display: inline-block;
  white-space: nowrap;
  position: absolute;
  right: 0;
}

.MMM-MyWordOfTheDay .scrabble-tile {
  display: inline-block;
  border: solid 2px #ffffff;
  border-radius: 4px;
  height:  28px;
  width:  28px;
  line-height: 28px;
  text-align: center;
  font-family:  "Times", "Times New Roman", serif;
  font-weight:  bold;
}

